  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */


  body, button, form {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
  }

  #reset{
    background-color: rgb(255, 149, 149);
  }

  #reset:hover{
     background-color: rgb(255, 115, 115);
  }
  :root{
    --blue1: #bfe4ef;
    --black: #1a1a1a;
    --blue: #8dc4fc;
    --blue3: #003c52;
  }

  .labels{
    font-size: larger;
    font-weight: bolder;
  }
  
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--black);
    background: var(--blue);
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: var(--blue3);
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: var(--blue1);
    color: var(--black);
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
    background: var(--blue1);
    color: var(--black);
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  #header{
    grid-column: 1/-1;
    text-align: center;
    font-size: 33px;
    margin-bottom: 15px;
  }